<h1>Details of country:-</h1>

<table style="width: 100%">

	<tr>
    	
        <td style="width: 10%"><h4>Country Name</h4></td>
        <td style="width: 20%"><h4>Formal Name</h4></td>
        <td style="width: 10%"><h4>Country Type</h4></td>
        <td style="width: 10%"><h4>Capital</h4></td>
        <td style="width: 5%"><h4>Currency</h4></td>
        <td style="width: 5%"><h4>Telephone Code</h4></td>
    </tr>

    <tr>
    	
        <td style="width: 10%">{{ country_detail.country_name }}</td>
        <td style="width: 10%">{{ country_detail.formal_name }}</td>
        <td style="width: 10%">{{ country_detail.country_type }}</td>
        <td style="width: 10%">{{ country_detail.capital }}</td>
        <td style="width: 10%">{{ country_detail.currency_name }}</td>
        <td style="width: 10%">{{ country_detail.telephone_code }}</td>
    </tr>
</table>


       

